@charset "UTF-8";

#skip {z-index:2;position: fixed;top:0;left:0;width:100%;background:#000;}
#skip li {width:100%;}
#skip li a {display:block;line-height:0;font-size:0;font-weight:600;color:#fff;text-align: center;}
#skip li a:focus {line-height:50px;font-size:16px;}

#wrap {z-index: 1;position: relative;width:100%;height:100%;margin: 0 auto;}

#wrap #header {z-index:2;position:absolute;background:transparent;width:100%;height:100px;}

#wrap #header .wrap {width:100%;}
#wrap #header .wrap .gap {padding:0 90px;}
#wrap #header .wrap .gap .container {width:100%;line-height: 90px;}
#wrap #header .wrap .gap .container .logo {float:left;}
#wrap #header .wrap .gap .container .logo a {display:block;}
#wrap #header .wrap .gap .container .logo a img {width:auto;}
#wrap #header .wrap .gap .container .aside {float:right;position:relative;}
#wrap #header .wrap .gap .container .aside span {float:left;padding-right: 20px;}
#wrap #header .wrap .gap .container .aside span a {font-size:14px;color:#fff;font-weight: bold;}


#wrap #main   {z-index:1;width:100%;height:auto;position:relative;}
#wrap #main #section1 {z-index: 1;position: relative;width:100%;height:auto;color:#fff;font-size:40px;text-align:center;background:url(../notice_img/portfolio-42.jpg)no-repeat 50% 0%;background-size:cover;/* background: #f9f9f9; */padding:130px 0;}
#wrap #main #section1::after {z-index:2;position:absolute;content: '';display: block;width:100%;height:100%;top:0;left:0;background: rgba(0,0,0, .3);}
#wrap #main #section1 .wrap {z-index: 3;position: relative;width:100%;}
#wrap #main #section1 .wrap .gap {margin:0;}
#wrap #main #section1 .wrap .gap .container {position:relative;width:100%;height:100%;}
#wrap #main #section1 .wrap .gap .container .content {width:100%;max-width:1100px;margin:0 auto;height:100%;}
#wrap #main #section1 .wrap .gap .container .content .board    {width:100%;text-align: center;}
#wrap #main #section1 .wrap .gap .container .content .board caption {color:#fff;font-size:52px;padding:50px 0;font-weight: bold;}
#wrap #main #section1 .wrap .gap .container .content .board th {border-top:1px solid #333;border-bottom:1px solid #333;height:50px;background: #f4f4f4;font-size: 15px;color:#333;}
#wrap #main #section1 .wrap .gap .container .content .board th:nth-child(1) {width:60px;}
#wrap #main #section1 .wrap .gap .container .content .board th:nth-child(2) {width:auto;}
#wrap #main #section1 .wrap .gap .container .content .board th:nth-child(3) {width:120px;}
#wrap #main #section1 .wrap .gap .container .content .board th:nth-child(4) {width:120px;}
#wrap #main #section1 .wrap .gap .container .content .board td {border-bottom:1px solid #ccc;height:60px;color:#fff;font-size:16px;}
#wrap #main #section1 .wrap .gap .container .content .board td:nth-child(2) {text-align: left;text-indent:20px;}



#wrap #main #section1 .wrap .gap .container .content #pageNation {text-align:center;padding-top:70px 0;}
#wrap #main #section1 .wrap .gap .container .content #pageNation > div {display: inline-block;width:35px;height:34px;margin:0 2px;}
#wrap #main #section1 .wrap .gap .container .content #pageNation > div > a {display: inline-block;}
#wrap #main #section1 .wrap .gap .container .content #pageNation > div > a img {width:100%;}



#wrap #main #section1 .wrap .gap .container .content #pageNation .page-number-box {margin:0 2px;display: inline-block;width:auto;height:34px;position:relative;top:4px;}
#wrap #main #section1 .wrap .gap .container .content #pageNation .page-number-box ul {width:auto;}
#wrap #main #section1 .wrap .gap .container .content #pageNation .page-number-box ul li {width:33px;height:32px;display: inline-block;line-height:34px;border: 1px solid #ddd;margin:0 1px;}
#wrap #main #section1 .wrap .gap .container .content #pageNation .page-number-box ul li a {display:block;width:100%;height:100%;color:#777;background:#fff;font-size:13px;}
#wrap #main #section1 .wrap .gap .container .content #pageNation .page-number-box ul li a:hover {color:#fff;background: #a6bef7;}
#wrap #main #section1 .wrap .gap .container .content #pageNation .page-number-box ul li a.addPage {color: #fff;background:#a6bef7;}






/* 푸터 */
#wrap #footer {z-index:1;position: relative;background:#23262d;width:100%;}
#wrap #footer .wrap {width:100%;}
#wrap #footer .wrap .gap {margin: 0 90px;}
#wrap #footer .wrap .gap .container {width:100%;border-top: 1px solid rgba(255,255,255, .1);padding:70px 0;text-align:center;}

#wrap #footer .wrap .gap .container .logo {float:left;}
#wrap #footer .wrap .gap .container .logo img{width:auto;}

#wrap #footer .wrap .gap .container .text-wrap {display:inline-block;}
#wrap #footer .wrap .gap .container .text-wrap .text-gap {margin:0;}
#wrap #footer .wrap .gap .container .text-wrap .text-gap h3{display:inline-block;color:#828282;}
#wrap #footer .wrap .gap .container .text-wrap .text-gap span {display:inline-block;}
#wrap #footer .wrap .gap .container .text-wrap .text-gap h4 {display:inline-block;color:#828282;}
#wrap #footer .wrap .gap .container .text-wrap .text-gap .mail {display:inline-block;}
#wrap #footer .wrap .gap .container .text-wrap .text-gap .mail a {display:block;color:#828282;transition: all 1s ease-in-out;}
#wrap #footer .wrap .gap .container .text-wrap .text-gap .mail a:hover {color:#cee002;}


#wrap #footer .wrap .gap .container .sns-wrap {float:right;}
#wrap #footer .wrap .gap .container .sns-wrap .sns-gap {margin:0;}
#wrap #footer .wrap .gap .container .sns-wrap .sns-gap span {display:inline-block;}
#wrap #footer .wrap .gap .container .sns-wrap .sns-gap span a {display:inline-block;padding:0 5px;}
#wrap #footer .wrap .gap .container .sns-wrap .sns-gap span a i {font-size:16px;color:#fff;}





/* top스크롤 */

.goTop {width:50px;height:50px;bottom:45px;right:45px;position:fixed;z-index:3;border-radius: 50%;text-align: center;box-shadow: 5px 5px 10px rgba(0,0,0, .8);background: #aaa;transition: all .6s ease-in-out;}
.goTop:hover {bottom:30px;}
.goTop a {display:block;line-height:45px;}
.goTop a i {font-size:22px;color:#333;}


/* quickMenu */

.quick-Menu {display: block;z-index: 4;position:absolute;width:90px;height:300px;background:#fff;top:15%;left:80%;border: 1.5px solid #ccc;box-shadow: 3px 3px 6px rgba(0,0,0, .4);font-weight: 700;}
.quick-Menu .wrap {width:100%;} 
.quick-Menu .wrap .gap {margin:0 10px;} 
.quick-Menu .wrap .gap .container {width:100%;} 
.quick-Menu .wrap .gap .container ul {width:100%;} 
.quick-Menu .wrap .gap .container ul li {font-size:12px;background-image: linear-gradient(to right, rgb(85, 111, 255), rgb(85, 111, 255), rgb(224, 95, 196), rgb(247, 103, 166), rgb(255, 121, 142));-webkit-background-clip:text;-webkit-text-fill-color: transparent;padding: 20px 0;text-align: center;border-bottom: 1px solid rgba(130,130,130, .3);border-top: 1px solid rgba(130,130,130, .3);} 
.quick-Menu .wrap .gap .container ul li:first-child {border-bottom: 1px solid rgba(130,130,130, .3);border-top: 0px solid rgba(130,130,130, .3);} 
.quick-Menu .wrap .gap .container ul li:last-child  {border-bottom: 0px solid rgba(130,130,130, .3);border-top: 1px solid rgba(130,130,130, .3);} 